## ext
*.aps
*.dat
*.db
*.log
*.obj
*.opendb
*.pdb
*.swo
*.swp
*.tlog
*.user
*.code-workspace

## distribution
imgui.ini
config.json
bstorm_dev.exe
bstorm_conf.exe
bstorm.exe

## dir
/.vs/
/ipch/
/Debug/
/Release/
/x64/
/Win32/
/bsengine/Debug/
/bsengine/Release/
/bsengine/x64/
/bsengine/Win32/
/bstorm/Debug/
/bstorm/Release/
/bstorm/x64/
/bstorm/Win32/
/bstorm_dev/x64/
/bstorm_dev/Win32/
/bstorm_dev/Debug/
/bstorm_dev/Release/
/bstorm_conf/x64/
/bstorm_conf/Win32/
/bstorm_conf/Debug/
/bstorm_conf/Release/
/DxSDK/Include/*
/DxSDK/Lib/Win32/*
/DxSDK/Lib/x64/*
.vscode/
script/third_party/

!.gitkeep
