*.db
*.opendb
*.swo
*.swp
/.vs/
*.user
imgui.ini
/ipch/
th_dnh.log
/bstorm/Debug/
/bstorm/DebugDev/
/bstorm/Release/
/bstorm/ReleaseDev/
/bstorm_dev/Debug/
/bstorm_dev/DebugDev/
/bstorm_dev/Release/
/bstorm_dev/ReleaseDev/
/bsengine/Debug/
/bsengine/DebugDev/
/bsengine/Release/
/bsengine/ReleaseDev/
/x64/
/Win32/
/bstorm/x64/
/bstorm/Win32/
/bstorm_dev/x64/
/bstorm_dev/Win32/
/bsengine/x64/
/bsengine/Win32/
