*.db
*.opendb
*.swo
*.swp
/.vs/
*.user
imgui.ini
/ipch/
th_dnh.log
/Debug/
/DebugDev/
/Release/
/ReleaseDev/
/bsengine/Debug/
/bsengine/DebugDev/
/bsengine/Release/
/bsengine/ReleaseDev/
/x64/
/Win32/
/bsengine/x64/
/bsengine/Win32/
